:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color-dark: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.logo-dark {
  color: var(--logo-color-dark);
}

.logo-light {
  color: var(--primary-white-color);
}

/*---------------logo---------------*/

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

/*---------------site-nav---------------*/

.header {
  border-bottom: 1px solid #ececec;
}

.nav-header {
  display: flex;
  align-items: center;
  margin-right: 331px;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

/*---------------header-contacts---------------*/

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

/*---------------hero---------------*/

.hero {
  background-color: #2f303a;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-container-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-container-btn {
  display: block;
  margin: 0 auto;
}

.hero-btn {
  font-family: Roboto, sans-serif;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: block;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

/*---------------features---------------*/

.list-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-title-container {
  margin-bottom: 10px;
}

.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*---------------our-work---------------*/
.our-work {
  padding-top: 0px;
}

.our-work-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.our-work-title,
.our-team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/*---------------our-team---------------*/

.our-team {
  background-color: #f5f4fa;
}

.our-team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-text {
  padding: 20px 30px;
  text-align: center;
}

.worker-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 10px;
}

.worker-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/*---------------footer---------------*/

.logo-container > .logo {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

.logo-container {
  display: block;
}

.footer-item {
  margin-bottom: 9px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.addres {
  font-style: inherit;
}

.footer-addres {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}

.footer-contacts .link {
  color: var(--third-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*---------------portfolio-btn---------------*/

.list-btn-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.list-btn .filter-item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}

.btn:hover,
.btn:focus,
.list-btn .btn.active-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*---------------portfolio-example---------------*/

.example-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.example-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.border {
  background: #ffffff;
  box-sizing: border-box;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.example-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
